---
import { SEO } from "astro-seo";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title,
					type: "website",
					image: `${import.meta.env.SITE}/logo.png`,
				},
			}}
			twitter={{
				card: "summary_large_image",
				title,
				description,
				image: `${import.meta.env.SITE}/logo.png`,
				imageAlt: "Minecraft Update Title Editor Logo",
			}}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-CBW27WLEFK"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-CBW27WLEFK");
		</script>
		<meta name="google-adsense-account" content="ca-pub-6558008609014707" />
	</head>
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: "Minecraft Regular";
				src: url("/fonts/MinecraftRegular.otf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Minecraft Ten";
				src: url("/fonts/MinecraftTen.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			body,
			html {
				height: 100%;
				margin: 0px;

				font-family: Minecraft Regular;
			}
		</style>
	</body>
</html>
